body{
    margin: 0;
    padding: 0;
    
}

#div1{
    background-color: #E8EFFF;
    padding: auto ;
    
    display: flex;
}
#imgOfdiv1{
    margin-left: 400px;
}
#div2{
    background-color:#E0052B;
    padding: auto ;
}
#elementOfdiv2{
    background-color:#E0052B;
   margin-left: 340px;
    
    display: flex;
}

.btnDanhMuc{
    background-color: rgba(255, 253, 253, 0.3);
    width: 115px;
    height: 40px;
    border-radius: 10px;
    margin: 5px 0 0 10px;
    border: none;
    cursor: pointer;
}
.btnDanhMuc p{
    color: rgb(255, 255, 255);
    margin: -30px 0 0 40px;
}
.btnDanhMuc img{
    margin:0px 0 0 0px;
}

#ViTri{
    background-color: rgba(255, 253, 253, 0.3);
    width: 130px;
    height: 40px;
    border-radius: 10px;
    margin: -40px 0 0 135px;
    border: none;
}

#ViTri img{
    margin: 5px 0 0 0px;
}

#ViTri h5{
    color: rgb(255, 255, 255);
    margin: -35px 0 0 33px;
    font-size: 12px;
}
#ViTri p{
    color: rgb(255, 255, 255);
    margin: 0px 0 0 33px;
    font-size: 15px;
}
#ViTri span img{
    margin: -13px 0 0 110px;
}
#ViTri img,h5,p{
    margin-top: -13px;
}

#SearchBox{
    background-color: rgba(255, 253, 253);
    width: 250px;
    height: 32px;
    border-radius: 10px;
    margin: -36px 0 0 275px;
    border: none;
}
#SearchBox p {
    margin: -25px 0 0 30px;
    font-size: 21px;
    color: grey;
}
#SearchBox img{
    margin:5px 0 0 3px;
    
}
#SearchBox span img{
    margin:0px 0 0 200px;
    
}


#GoiMuaHang{
    /* background-color: rgba(255, 253, 253, 0.3); */
    width: 130px;
    height: 40px;
    border-radius: 10px;
    margin: -35px 0 0 535px;
    border: none;
}

#GoiMuaHang img{
    margin: 5px 0 0 0px;
}

#GoiMuaHang h5{
    color: rgb(255, 255, 255);
    margin: -35px 0 0 33px;
    font-size: 15px;
}
#GoiMuaHang p{
    color: rgb(255, 255, 255);
    margin: 0px 0 0 33px;
    font-size: 13px;
}


#CuaHang{
    /* background-color: rgba(255, 253, 253, 0.3); */
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin: -40px 0 0 665px;
    border: none;
}

#CuaHang img{
    margin: 5px 0 0 0px;
}

#CuaHang h5{
    /* color: rgb(255, 255, 255); */
    margin: -35px 0 0 33px;
    color: white;
    
}

#TraCuu{
    /* background-color: rgba(255, 253, 253, 0.3); */
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin: -40px 0 0 765px;
    border: none;
}

#TraCuu img{
    margin: 5px 0 0 5px;
}

#TraCuu h5{
    /* color: rgb(255, 255, 255); */
    margin: -35px 0 0 38px;
    color: white;
}

#GioHang{
    /* background-color: rgba(255, 253, 253, 0.3); */
    width: 70px;
    height: 40px;
    border-radius: 10px;
    margin: -40px 0 0 865px;
    border: none;
}

#GioHang img{
    margin: 5px 0 0 0px;
}

#GioHang h5{
    color: rgb(255, 255, 255);
    margin: -35px 0 0 33px;
    
}
#login{
    background-color: rgba(255, 253, 253, 0.3);
    width: 80px;
    height: 40px;
    border-radius: 10px;
    margin: -40px 0 0 935px;
    border: none;
}



#login img{
    margin: 5px 0 0 30px;

}

#login h5{
    color: rgb(255, 255, 255);
    margin: -5px 0 0 10px;
    
}
.dt span img{
    margin: 3px 0 0 210px;
}
.dt img{
   position: fixed;
   margin: -3px 0 0 -8px;
}
.dt p {
    margin: -15px 0 0 25px ;
   
}



.Lap span img{
    margin: 3px 0 0 220px;
}
.Lap img{
   position: fixed;
   margin: -3px 0 0 0;
}
.Lap p {
    margin: 0px 0 0 25px ;
    padding-top: 0px;
}


.At span img{
    margin: 3px 0 0 220px;
}
.At img{
   position: fixed;
   margin: -3px 0 0 0;
}
.At p {
    margin: 0px 0 0 34px ;
    padding-top: 0px;
}


.Đho span img{
    margin: 3px 0 0 220px;
}
.Đho img{
   position: fixed;
   margin: -3px 0 0 0;
}
.Đho p {
    margin: 0px 0 0 25px ;
    padding-top: 0px;
}


.Giadung span img{
    margin: 3px 0 0 220px;
}
.Giadung img{
   position: fixed;
   margin: -3px 0 0 0;
}
.Giadung p {
    margin: 0px 0 0 25px ;
    padding-top: 0px;
}


.Pk span img{
    margin: 3px 0 0 220px;
}
.Pk img{
   position: fixed;
   margin: -3px 0 0 0;
}
.Pk p {
    margin: 0px 0 0 25px ;
    padding-top: 0px;
}

.pc span img{
    margin: 3px 0 0 220px;
}
.pc img{
   position: fixed;
   margin: -3px 0 0 0;
}
.pc p {
    margin: 0px 0 0 25px ;
    padding-top: 0px;
}


.Tivi span img{
    margin: 3px 0 0 220px;
}
.Tivi img{
   position: fixed;
   margin: -3px 0 0 0;
}
.Tivi p {
    margin: 0px 0 0 25px ;
    padding-top: 0px;
}

.switch span img{
    margin: 3px 0 0 220px;
}
.switch img{
   position: fixed;
   margin: -3px 0 0 0;
}
.switch p {
    margin: 0px 0 0 25px ;
    padding-top: 0px;
}



.hangcu span img{
    margin: 3px 0 0 220px;
}
.hangcu img{
   position: fixed;
   margin: -3px 0 0 0;
}
.hangcu p {
    margin: 0px 0 0 25px ;
    padding-top: 0px;
}


.sale span img{
    margin: 3px 0 0 220px;
}
.sale img{
   position: fixed;
   margin: -3px 0 0 0;
}
.sale p {
    margin: 0px 0 0 25px ;
    padding-top: 0px;
}

.news span img{
    margin: 3px 0 0 220px;
}
.news img{
   position: fixed;
   margin: -3px 0 0 0;
}
.news p {
    margin: 0px 0 0 25px ;
    padding-top: 0px;
}




.hover :hover {
    background-color: #ffffff ;
    
}
.THDT {
    margin: 0px 0 0 20px;
    
}
.THDT h4 {
    margin-left: 10px;
    
}
.THDT p {
    margin-left: 10px;
    padding: 10px 0px;
}
.MGDT{
    margin: -429px 0 0 200px;
}
.MGDT p {
    margin-left: 0px;
    padding: 10px 0px;
}
.DTH{
    margin: -200px 0 0 350px;
}
.DTH p {
    margin-left: 0px;
    padding: 10px 0px;
}
.THT{
    margin: -313px 0 0 570px;
}
.THT p {
    margin-left: 0px;
    padding: 10px 0px;
}
.TB{
    margin: -293px 0 0 750px;
}
.TB p {
    margin-left: 0px;
    padding: 10px 0px;
}body{
    margin: 0;
    padding: 0;
    
}


.dropdown {
    
    position: fixed;
    background-color: #f9f9f9;
    min-width: 260px;
    
    border-radius: 10px;
    z-index: 1;
    overflow: auto;
    margin: 5px 0 0 330px;
  }

  
  .dropdown .dt:hover , .Lap:hover, .At:hover, .Đho:hover, .Giadung:hover, .Pk:hover, .pc:hover, .Tivi:hover, .switch:hover, .hangcu:hover, .news:hover, .sale:hover{ 
    background-color: rgb(233, 233, 233);
    cursor: pointer;
 }

  .news , .sale , .hangcu ,.switch ,.Tivi ,.Đho ,.Giadung ,.Pk,.pc,.dt,.Lap,.At  {

    /* position: fixed; */
    
    padding: 10px 0 9px 0;
    
  }
  .news , .sale , .hangcu ,.switch ,.Tivi ,.Đho ,.Giadung ,.Pk,.pc,.dt,.Lap,.At img{
    padding-left: 10px;
  }
  .news p:hover, .sale p:hover, .hangcu p:hover,.switch p:hover,.Tivi p:hover,.Đho p:hover,.Giadung p:hover,.Pk p:hover,.pc p:hover,.dt p:hover,.Lap p:hover,.At p:hover{
    color: #c84343;
  }



.test{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.2) ;
    overflow: auto;
    position: fixed;
    margin: -455px 0 0 0px;
    
    display: none;
}



.THDT {
    margin: 0px 0 0 20px;
    
}
.THDT h4 {
    margin-left: 10px;
    
}
.THDT p {
    margin-left: 10px;
    padding: 10px 0px;
}
.MGDT{
    margin: -429px 0 0 200px;
}
.MGDT p {
    margin-left: 0px;
    padding: 10px 0px;
}
.DTH{
    margin: -200px 0 0 350px;
}
.DTH p {
    margin-left: 0px;
    padding: 10px 0px;
}
.THT{
    margin: -313px 0 0 570px;
}
.THT p {
    margin-left: 0px;
    padding: 10px 0px;
}
.TB{
    margin: -293px 0 0 750px;
}
.TB p {
    margin-left: 0px;
    padding: 10px 0px;
}
.dropdown-fixed{
    display: none;
}
.show {display: block;}
.try {display: block;}

.dt:hover .dropdown-fixed{
    display: block;
    transition: 2s;
}
.dropdown-fixed{
    position: fixed;
    background-color: #ffffff;
    height: 435px;
    width: 925px;
    margin: 0px 0 0 270px;
    /* display: none; */
    border-radius: 10px ;
    z-index: 1;
    overflow: auto;
    
}




/* .Lap{
    float: left;
 position: relative;
} */
 /* chỉ thêm nếu muốn dóng sang trái */


.CTH {
    margin: 0px 0 0 20px;
    
}
.CTH p {
    margin-left: 3px;
    padding: 5px 0px;
}
.TG {
    margin: -397px 0 0 150px;
    
}
.TG p {
    margin-left: 3px;
    padding: 5px 0px;
}
.CTNC {
    margin: -228px 0 0 300px;
    
}
.CTNC p {
    margin-left: 3px;
    padding: 5px 0px;
}
.CTDC {
    margin: -228px 0 0 480px;
    
}
.CTDC p {
    margin-left: 3px;
    padding: 5px 0px;
}
.KTMH {
    margin: -172px 0 0 670px;
    
}
.KTMH p {
    margin-left: 3px;
    padding: 5px 0px;
}
.dt:hover .dropdown-fixed{
    display: block;
}
.lap:hover .dropdown-Lap{
    display: block;
    
}
.dropdown-Lap{
    display: none;
}

.hover :hover {
    background-color: #ffffff ;
    
}

.dropdown-fixed{
    display: none;
}
.show {display: block;}


.dropdown-fixed{
    position: fixed;
    background-color: #ffffff;
    height: 435px;
    width: 920px;
    margin: -30px 0 0 270px;
    display: none;
    border-radius: 10px ;
    
    overflow: auto;
    
    
}


.dropdown-Lap{
    position: fixed;
    background-color: #ffffff;
    height: 435px;
    width: 920px;
    margin: -65px 0 0 270px;
    display: none;
    border-radius: 10px ;
    z-index: 1;
    overflow: auto;
    
    
}
.dropdown3{
    display: none;
}
.dropdown4{
    display: none;
}
.dropdown5{
    display: none;
}
.elementOfpk{
    display: none;
}
.elementOfpc{
    display: none;
}
.elementOfTivi{
    display: none;
}
.elementOfswitch{
    display: none;
}
.elementOfhangcu{
    display: none;
}
.elementOfsale{
    display: none;
}
.elementOfnews{
    display: none;
}
.dropdown3{
    position: fixed;
    background-color: #ffffff;
    height: 435px;
    width: 920px;
    margin: -100px 0 0 278px;
    display: none;
    border-radius: 10px ;
    z-index: 1;
    overflow: auto; 
}
.CLTN {
    margin: 0px 0 0 20px;
    
}
.CLTN p {
    margin-left: 3px;
    padding: 5px 0px;
}
.HTN {
    margin: -229px 0 0 180px;
    
}
.HTN p {
    margin-left: 3px;
    padding: 5px 0px;
}
.CLL {
    margin: -397px 0 0 310px;
    
}
.CLL p {
    margin-left: 3px;
    padding: 5px 0px;
}
.HL {
    margin: -202px 0 0 450px;
    
}
.HL p {
    margin-left: 3px;
    padding: 5px 0px;
}
.SPNB {
    margin: -310px 0 0 590px;
    
}
.SPNB p {
    margin-left: 3px;
    padding: 5px 0px;
}
.mic {
    margin: -288px 0 0 770px;
    
}
.mic p {
    margin-left: 3px;
    padding: 5px 0px;
}
.dropdown4{
    position: fixed;
    background-color: #ffffff;
    height: 435px;
    width: 925px;
    margin: -140px 0 0 270px;
    display: none;
    border-radius: 10px ;
    z-index: 1;
    overflow: auto;
}
.LDH {
    margin: 0px 0 0 20px;
    
}
.LDH p {
    margin-left: 3px;
    padding: 5px 0px;
}
.CTTH {
    margin: -175px 0 0 200px;
    
}
.CTTH p {
    margin-left: 3px;
    padding: 5px 0px;
}
.Spnb {
    margin: -315px 0 0 380px;
    
}
.Spnb p {
    margin-left: 3px;
    padding: 5px 0px;
}
.camera {
    margin: -335px 0 0 580px;
    
}
.camera p {
    margin-left: 3px;
    padding: 5px 0px;
}
.CNB {
    margin: -289px 0 0 730px;
    
}
.CNB p {
    margin-left: 3px;
    padding: 5px 0px;
}

.dropdown5{
    position: fixed;
    background-color: #ffffff;
    height: 435px;
    width: 925px;
    margin: -170px 0 0 270px;
    display: none;
    border-radius: 10px ;
    z-index: 1;
    overflow: auto;
}
.GDNB {
    margin: 0px 0 0 20px;
    
}
.GDNB p {
    margin-left: 3px;
    padding: 5px 0px;
}
.SK {
    margin: -280px 0 0 190px;
    
}
.SK p {
    margin-left: 3px;
    padding: 5px 0px;
}
.TBGD {
    margin: -315px 0 0 380px;
    
}
.TBGD p {
    margin-left: 3px;
    padding: 5px 0px;
}
.NB {
    margin: -258px 0 0 530px;
    
}
.NB p {
    margin-left: 3px;
    padding: 5px 0px;
}
.THGD {
    margin: -230px 0 0 790px;
    
}
.THGD p {
    margin-left: 3px;
    padding: 5px 0px;
}

.elementOfpk{
    position: fixed;
    background-color: #ffffff;
    height: 435px;
    width: 925px;
    margin: -210px 0 0 270px;
    display: none;
    border-radius: 10px ;
    z-index: 1;
    overflow: auto;
}
.PKDD {
    margin: 0px 0 0 20px;
    
}
.PKDD p {
    margin-left: 3px;
    padding: 5px 0px;
}
.PKL {
    margin: -340px 0 0 190px;
    
}
.PKL p {
    margin-left: 3px;
    padding: 5px 0px;
}
.PKK {
    margin: -230px 0 0 380px;
    
}
.PKK p {
    margin-left: 3px;
    padding: 5px 0px;
}
.TBLT {
    margin: -178px 0 0 550px;
    
}
.TBLT p {
    margin-left: 3px;
    padding: 5px 0px;
}
.PKH {
    margin: -230px 0 0 790px;
    
}
.PKH p {
    margin-left: 3px;
    padding: 5px 0px;
}
.elementOfpc{
    position: fixed;
    background-color: #ffffff;
    height: 435px;
    width: 925px;
    margin: -250px 0 0 270px;
    display: none;
    border-radius: 10px ;
    z-index: 1;
    overflow: auto;
    
    
}
.elementOfTivi{
    position: fixed;
    background-color: #ffffff;
    height: 435px;
    width: 925px;
    margin: -285px 0 0 270px;
    display: none;
    border-radius: 10px ;
    z-index: 1;
    overflow: auto;
    
    
}
.elementOfswitch{
    position: fixed;
    background-color: #ffffff;
    height: 435px;
    width: 925px;
    margin: -320px 0 0 270px;
    display: none;
    border-radius: 10px ;
    z-index: 1;
    overflow: auto;
    
    
}
.elementOfhangcu{
    position: fixed;
    background-color: #ffffff;
    height: 435px;
    width: 925px;
    margin: -350px 0 0 270px;
    display: none;
    border-radius: 10px ;
    z-index: 1;
    overflow: auto;
    
    
}
.elementOfsale{
    position: fixed;
    background-color: #ffffff;
    height: 435px;
    width: 925px;
    margin: -390px 0 0 270px;
    display: none;
    border-radius: 10px ;
    z-index: 1;
    overflow: auto;
    
    
}
.elementOfnews{
    position: fixed;
    background-color: #ffffff;
    height: 435px;
    width: 925px;
    margin: -430px 0 0 270px;
    display: none;
    border-radius: 10px ;
    z-index: 1;
    overflow: auto;
    
    
}

.At {display: block;}
.Lap4 {display: block;}
.Lap5 {display: block;}
.pk {display: block;}
.pc {display: block;}
.Tivi{display: block;}
.switch{display: block;}
.hangcu{display: block;}
.sale{display: block;}
.news{display: block;}

.Lap:hover .dropdown-Lap{
    display: block;
}
.At:hover .dropdown3{
    display: block;
}
.Đho:hover .dropdown4{
    display: block;
}
.Giadung:hover .dropdown5{
    display: block;
}
.Pk:hover .elementOfpk{
    display: block;
}
.pc:hover .elementOfpc{
    display: block;
}
.Tivi:hover .elementOfTivi{
    display: block;
}
.hangcu:hover .elementOfhangcu{
    display: block;
}
.switch:hover .elementOfswitch{
    display: block;
}
.sale:hover .elementOfsale{
    display: block;
}
.news:hover .elementOfnews{
    display: block;
}


/* sang bảng mới */
.dt span img{
    margin: 3px 0 0 210px;
}
.dt img{
   position: fixed;
   margin: -3px 0 0 -8px;
}
.dt p {
    margin: -15px 0 0 25px ;
   
}



.Lap span img{
    margin: 3px 0 0 220px;
}
.Lap img{
   position: fixed;
   margin: -3px 0 0 0;
}
.Lap p {
    margin: 0px 0 0 25px ;
    padding-top: 0px;
}


.At span img{
    margin: 3px 0 0 220px;
}
.At img{
   position: fixed;
   margin: -3px 0 0 0;
}
.At p {
    margin: 0px 0 0 34px ;
    padding-top: 0px;
}


.Đho span img{
    margin: 3px 0 0 220px;
}
.Đho img{
   position: fixed;
   margin: -3px 0 0 0;
}
.Đho p {
    margin: 0px 0 0 25px ;
    padding-top: 0px;
}


.Giadung span img{
    margin: 3px 0 0 220px;
}
.Giadung img{
   position: fixed;
   margin: -3px 0 0 0;
}
.Giadung p {
    margin: 0px 0 0 25px ;
    padding-top: 0px;
}


.Pk span img{
    margin: 3px 0 0 220px;
}
.Pk img{
   position: fixed;
   margin: -3px 0 0 0;
}
.Pk p {
    margin: 0px 0 0 25px ;
    padding-top: 0px;
}

.pc span img{
    margin: 3px 0 0 220px;
}
.pc img{
   position: fixed;
   margin: -3px 0 0 0;
}
.pc p {
    margin: 0px 0 0 25px ;
    padding-top: 0px;
}


.Tivi span img{
    margin: 3px 0 0 220px;
}
.Tivi img{
   position: fixed;
   margin: -3px 0 0 0;
}
.Tivi p {
    margin: 0px 0 0 25px ;
    padding-top: 0px;
}

.switch span img{
    margin: 3px 0 0 220px;
}
.switch img{
   position: fixed;
   margin: -3px 0 0 0;
}
.switch p {
    margin: 0px 0 0 25px ;
    padding-top: 0px;
}



.hangcu span img{
    margin: 3px 0 0 220px;
}
.hangcu img{
   position: fixed;
   margin: -3px 0 0 0;
}
.hangcu p {
    margin: 0px 0 0 25px ;
    padding-top: 0px;
}


.sale span img{
    margin: 3px 0 0 220px;
}
.sale img{
   position: fixed;
   margin: -3px 0 0 0;
}
.sale p {
    margin: 0px 0 0 25px ;
    padding-top: 0px;
}

.news span img{
    margin: 3px 0 0 220px;
}
.news img{
   position: fixed;
   margin: -3px 0 0 0;
}
.news p {
    margin: 0px 0 0 25px ;
    padding-top: 0px;
}




.hover :hover {
    background-color: #ffffff ;
    
}
.THDT {
    margin: 0px 0 0 20px;
    
}
.THDT h4 {
    margin-left: 10px;
    
}
.THDT p {
    margin-left: 10px;
    padding: 10px 0px;
}
.MGDT{
    margin: -429px 0 0 200px;
}
.MGDT p {
    margin-left: 0px;
    padding: 10px 0px;
}
.DTH{
    margin: -200px 0 0 350px;
}
.DTH p {
    margin-left: 0px;
    padding: 10px 0px;
}
.THT{
    margin: -313px 0 0 570px;
}
.THT p {
    margin-left: 0px;
    padding: 10px 0px;
}
.TB{
    margin: -293px 0 0 750px;
}
.TB p {
    margin-left: 0px;
    padding: 10px 0px;
}body{
    margin: 0;
    padding: 0;
    
}




  
  .board .dt:hover , .Lap:hover, .At:hover, .Đho:hover, .Giadung:hover, .Pk:hover, .pc:hover, .Tivi:hover, .switch:hover, .hangcu:hover, .news:hover, .sale:hover{ 
    background-color: rgb(233, 233, 233);
    cursor: pointer;
 }

  .news , .sale , .hangcu ,.switch ,.Tivi ,.Đho ,.Giadung ,.Pk,.pc,.dt,.Lap,.At  {

    /* position: fixed; */
    
    padding: 10px 0 9px 0;
    
  }
  .news , .sale , .hangcu ,.switch ,.Tivi ,.Đho ,.Giadung ,.Pk,.pc,.dt,.Lap,.At img{
    padding-left: 10px;
  }
  .news p:hover, .sale p:hover, .hangcu p:hover,.switch p:hover,.Tivi p:hover,.Đho p:hover,.Giadung p:hover,.Pk p:hover,.pc p:hover,.dt p:hover,.Lap p:hover,.At p:hover{
    color: #c84343;
  }


.inner{
    position: fixed;
}
.block{
    position: fixed;
    background-color: #ffffff;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    z-index: 1;
    overflow: auto;
    margin: 20px 0 0 330px;
  
    
    
}



.THDT {
    margin: 0px 0 0 20px;
    
}
.THDT h4 {
    margin-left: 10px;
    
}
.THDT p {
    margin-left: 10px;
    padding: 10px 0px;
}
.MGDT{
    margin: -429px 0 0 200px;
}
.MGDT p {
    margin-left: 0px;
    padding: 10px 0px;
}
.DTH{
    margin: -200px 0 0 350px;
}
.DTH p {
    margin-left: 0px;
    padding: 10px 0px;
}
.THT{
    margin: -313px 0 0 570px;
}
.THT p {
    margin-left: 0px;
    padding: 10px 0px;
}
.TB{
    margin: -293px 0 0 750px;
}
.TB p {
    margin-left: 0px;
    padding: 10px 0px;
}
.board-fixed{
    display: none;
}
/* .show {display: block;}
.try {display: block;} */

.dt:hover .board-fixed{
    display: block;
    transition: 2s;
}
.board-fixed{
    position: fixed;
    background-color: #ffffff;
    height: 435px;
    width: 925px;
    margin: -30px 0 0 270px;
    
    border-radius: 10px ;
    z-index: 1;
    overflow: auto;
    
}




.CTH {
    margin: 0px 0 0 20px;
    
}
.CTH p {
    margin-left: 3px;
    padding: 5px 0px;
}
.TG {
    margin: -397px 0 0 150px;
    
}
.TG p {
    margin-left: 3px;
    padding: 5px 0px;
}
.CTNC {
    margin: -228px 0 0 300px;
    
}
.CTNC p {
    margin-left: 3px;
    padding: 5px 0px;
}
.CTDC {
    margin: -228px 0 0 480px;
    
}
.CTDC p {
    margin-left: 3px;
    padding: 5px 0px;
}
.KTMH {
    margin: -172px 0 0 670px;
    
}
.KTMH p {
    margin-left: 3px;
    padding: 5px 0px;
}
.dt:hover .board-fixed{
    display: block;
}
.lap:hover .board-Lap{
    display: block;
    
}
.board-Lap{
    display: none;
}

.hover :hover {
    background-color: #ffffff ;
    
}

.board-fixed{
    display: none;
}
.show {display: block;}


.board-fixed{
    position: fixed;
    background-color: #ffffff;
    height: 435px;
    width: 920px;
    margin: -30px 0 0 270px;
    display: none;
    border-radius: 10px ;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow: auto;
    
    
}


.board-Lap{
    position: fixed;
    background-color: #ffffff;
    height: 435px;
    width: 920px;
    margin: -65px 0 0 270px;
    display: none;
    border-radius: 10px ;
    z-index: 1;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}
.board{
    display: none;
}
.board{
    display: none;
}
.board{
    display: none;
}
.elementOfpk{
    display: none;
}
.elementOfpc{
    display: none;
}
.elementOfTivi{
    display: none;
}
.elementOfswitch{
    display: none;
}
.elementOfhangcu{
    display: none;
}
.elementOfsale{
    display: none;
}
.elementOfnews{
    display: none;
}
.board3{
    position: fixed;
    background-color: #ffffff;
    height: 435px;
    width: 920px;
    margin: -100px 0 0 278px;
    display: none;
    border-radius: 10px ;
    z-index: 1;
    overflow: auto; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.CLTN {
    margin: 0px 0 0 20px;
    
}
.CLTN p {
    margin-left: 3px;
    padding: 5px 0px;
}
.HTN {
    margin: -229px 0 0 180px;
    
}
.HTN p {
    margin-left: 3px;
    padding: 5px 0px;
}
.CLL {
    margin: -397px 0 0 310px;
    
}
.CLL p {
    margin-left: 3px;
    padding: 5px 0px;
}
.HL {
    margin: -202px 0 0 450px;
    
}
.HL p {
    margin-left: 3px;
    padding: 5px 0px;
}
.SPNB {
    margin: -310px 0 0 590px;
    
}
.SPNB p {
    margin-left: 3px;
    padding: 5px 0px;
}
.mic {
    margin: -288px 0 0 770px;
    
}
.mic p {
    margin-left: 3px;
    padding: 5px 0px;
}
.board4{
    position: fixed;
    background-color: #ffffff;
    height: 435px;
    width: 925px;
    margin: -140px 0 0 270px;
    display: none;
    border-radius: 10px ;
    z-index: 1;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.LDH {
    margin: 0px 0 0 20px;
    
}
.LDH p {
    margin-left: 3px;
    padding: 5px 0px;
}
.CTTH {
    margin: -175px 0 0 200px;
    
}
.CTTH p {
    margin-left: 3px;
    padding: 5px 0px;
}
.Spnb {
    margin: -315px 0 0 380px;
    
}
.Spnb p {
    margin-left: 3px;
    padding: 5px 0px;
}
.camera {
    margin: -335px 0 0 580px;
    
}
.camera p {
    margin-left: 3px;
    padding: 5px 0px;
}
.CNB {
    margin: -289px 0 0 730px;
    
}
.CNB p {
    margin-left: 3px;
    padding: 5px 0px;
}

.board5{
    position: fixed;
    background-color: #ffffff;
    height: 435px;
    width: 925px;
    margin: -170px 0 0 270px;
    display: none;
    border-radius: 10px ;
    z-index: 1;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.GDNB {
    margin: 0px 0 0 20px;
    
}
.GDNB p {
    margin-left: 3px;
    padding: 5px 0px;
}
.SK {
    margin: -280px 0 0 190px;
    
}
.SK p {
    margin-left: 3px;
    padding: 5px 0px;
}
.TBGD {
    margin: -315px 0 0 380px;
    
}
.TBGD p {
    margin-left: 3px;
    padding: 5px 0px;
}
.NB {
    margin: -258px 0 0 530px;
    
}
.NB p {
    margin-left: 3px;
    padding: 5px 0px;
}
.THGD {
    margin: -230px 0 0 790px;
    
}
.THGD p {
    margin-left: 3px;
    padding: 5px 0px;
}

.elementOfpk{
    position: fixed;
    background-color: #ffffff;
    height: 435px;
    width: 925px;
    margin: -210px 0 0 270px;
    display: none;
    border-radius: 10px ;
    z-index: 1;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.PKDD {
    margin: 0px 0 0 20px;
    
}
.PKDD p {
    margin-left: 3px;
    padding: 5px 0px;
}
.PKL {
    margin: -340px 0 0 190px;
    
}
.PKL p {
    margin-left: 3px;
    padding: 5px 0px;
}
.PKK {
    margin: -230px 0 0 380px;
    
}
.PKK p {
    margin-left: 3px;
    padding: 5px 0px;
}
.TBLT {
    margin: -178px 0 0 550px;
    
}
.TBLT p {
    margin-left: 3px;
    padding: 5px 0px;
}
.PKH {
    margin: -230px 0 0 790px;
    
}
.PKH p {
    margin-left: 3px;
    padding: 5px 0px;
}
.elementOfpc{
    position: fixed;
    background-color: #ffffff;
    height: 435px;
    width: 925px;
    margin: -250px 0 0 270px;
    display: none;
    border-radius: 10px ;
    z-index: 1;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}
.elementOfTivi{
    position: fixed;
    background-color: #ffffff;
    height: 435px;
    width: 925px;
    margin: -285px 0 0 270px;
    display: none;
    border-radius: 10px ;
    z-index: 1;
    overflow: auto;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.elementOfswitch{
    position: fixed;
    background-color: #ffffff;
    height: 435px;
    width: 925px;
    margin: -320px 0 0 270px;
    display: none;
    border-radius: 10px ;
    z-index: 1;
    overflow: auto;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.elementOfhangcu{
    position: fixed;
    background-color: #ffffff;
    height: 435px;
    width: 925px;
    margin: -350px 0 0 270px;
    display: none;
    border-radius: 10px ;
    z-index: 1;
    overflow: auto;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.elementOfsale{
    position: fixed;
    background-color: #ffffff;
    height: 435px;
    width: 925px;
    margin: -390px 0 0 270px;
    display: none;
    border-radius: 10px ;
    z-index: 1;
    overflow: auto;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.elementOfnews{
    position: fixed;
    background-color: #ffffff;
    height: 435px;
    width: 925px;
    margin: -430px 0 0 270px;
    display: none;
    border-radius: 10px ;
    z-index: 1;
    overflow: auto;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.At {display: block;}
.Lap4 {display: block;}
.Lap5 {display: block;}
.pk {display: block;}
.pc {display: block;}
.Tivi{display: block;}
.switch{display: block;}
.hangcu{display: block;}
.sale{display: block;}
.news{display: block;}

.Lap:hover .board-Lap{
    display: block;
}
.At:hover .board3{
    display: block;
}
.Đho:hover .board4{
    display: block;
}
.Giadung:hover .board5{
    display: block;
}
.Pk:hover .elementOfpk{
    display: block;
}
.pc:hover .elementOfpc{
    display: block;
}
.Tivi:hover .elementOfTivi{
    display: block;
}
.hangcu:hover .elementOfhangcu{
    display: block;
}
.switch:hover .elementOfswitch{
    display: block;
}
.sale:hover .elementOfsale{
    display: block;
}
.news:hover .elementOfnews{
    display: block;
}



.slider-wrapper{
    margin: -480px 0 0 605px;
    width: 650px;
    height: 430px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: relative;
    
    box-sizing: border-box;
}
.image-list{
    margin: 2px 0 0 0;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    transform: 1s;
    display: flex;
    
}
#prev,#next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    color: rgb(217, 0, 0);
  }
  
  #next {
    margin-right: 0px;
    margin-top: -50px;
    right: 0;
    border-radius: 3px 0 0 3px;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
  }
  #prev{
    margin-left: -15px;
    margin-top: -50px;
    left: 0;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
  }
  .nenPrev{
    margin: 0 0 0 0px;
    position: absolute;
  }
  .iconPrev{
    margin: 18px 0 0 15px;
    position: relative;
  }
  .nenNext{
    margin: 0 0 0 0px;
    position: absolute;
  }
  .iconNext{
    margin: 18px 0 0 23px;
    position: relative;
  }
  .slider-wrapper:hover .slider-icon{
    opacity: 1;
  }
  
  .slider-icon{
    opacity: 0;
    transition:0.1s;
  }
 .banner{
    margin-top: 20px;
 }
.banner__block img{
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    margin: 0px 0 30px 1270px;
}
.ipad{
    margin: -200px 0 0px 0;
}
